* {
    font-family: 'Roboto', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

html, body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    text-align: center; 
    line-break: auto;
}

.container-navbar{
    position:fixed;
    width: 100%;
    align-items: center;
    display:flex;
    justify-content: space-evenly;
    background-color: rgb(73, 73, 15);
}
.container a{
    padding: 10px;
    text-decoration: none;
    color:rgb(3, 2, 2);
}

.container a:hover{
    color:yellow;
}

.container-navbar img{
    padding: 5px;
}

.aboutus {
    background-color: turquoise;
}


.history{
    background-color: teal;
}

.aboutservices{
    background-color: tomato;
}

.portfolio{
    background-color: yellow;
}
.footer{
    background-color: violet;
}

.aboutus{
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.objetivo,.visao,.valores{
    display: flex;
    flex-direction: row;

}
.container-aboutus{
    padding-top: 10vh;
}

.container-portfolio,
.container-aboutservices,.container-history,
.container-valores,
.container-aboutus{
    display: flex;
    align-items: center;
    justify-content: center;

}

.imgvalores,.imgobjetivo,.imgvisao
{
    padding: 10vh;
    padding-left: 5vh;
}

.footer-div{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

.container-endereco-form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.endereco{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10vw;
    font-size: 12px;
}

.formulario-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px;
}